.column-container-each {
  margin-bottom: 20px;
}

.custom-dropdown-outer, .custom-select-outer {
  margin: 0 0 20px 0;
  position: relative;
  height: auto;
}

.custom-dropdown-outer, .custom-select-outer:last-child {
  margin: 0 0 0 0;
}

.custom-dropdown-menu, .custom-search, .custom-date, .combo-dropdown-menu {
  line-height: 1.4;
  background-color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  margin: 0;
  border-radius: 0;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0px 1px 2px 0px rgba(4,4,4,0.4);
  -moz-box-shadow: inset 0px 1px 2px 0px rgba(4,4,4,0.4);
  box-shadow: inset 0px 1px 2px 0px rgba(4,4,4,0.4);
  position: relative;
}

.custom-dropdown-close {
  display: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.custom-dropdown-open {
  background-color: transparent;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.custom-dropdown-arrow-toggle,.custom-dropdown-arrow-open,.custom-dropdown-arrow-close {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 36px;
  height: 36px;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
  opacity: .4;
  cursor: pointer;
  padding: 8px;
  margin-top: -18px;
}

.custom-dropdown-arrow-toggle {
  -webkit-transform: rotate(0deg);
}

.custom-dropdown-position {
  position: relative;
}

.custom-dropdown-group {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 1;
  bottom: 0;
  right: 0;
  border-top: solid 1px #ccc;
  border-bottom: solid 0px #ccc;
  border-right: solid 0px #ccc;
  border-left: solid 0px #ccc;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(4,4,4,0.4);
  -moz-box-shadow: 0px 0px 4px 0px rgba(4,4,4,0.4);
  box-shadow: 0px 0px 4px 0px rgba(4,4,4,0.4);
  background-color: #fff;
}

.custom-dropdown-scroll {
  max-height: 420px;
  height: auto;
}

.custom-dropdown-scroll, .custom-dropdown-slots, .custom-dropdown-large {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: 350px;
  height: 350px;
}

.custom-dropdown {
  padding-left: 20px;
  font-size: 14px;
  font-family: "OpenSans-Regular";
}

.custom-dropdown:after {
  content: "";
  position: absolute;
  background-image: none;
  background-repeat: no-repeat;
  background-size: 47px auto;
  background-position: left top;
  left: 20px;
  top: 19px;
  width: 70px;
  height: 45px;
}

.custom-dropdown:hover:after {
}

.custom-dropdown {
  font-size: 14px;
  padding: 16px 52px;
  border-top: solid 1px #ccc;
  cursor: pointer;
  position: relative;
}

.custom-dropdown:first-child {
  border-top: solid 0 #ccc;
}

.custom-dropdown:last-child {
  border-bottom: solid 1px #ccc;
}

.custom-dropdown:hover {
}

.active {
  color: #fff;
  background: #446aa0;
}

.custom-dropdown-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
}