@font-face {
font-family: AdobeClean-Bold;
src: url(../fonts/AdobeClean-Bold.otf) format("opentype");
src: url(../fonts/AdobeClean-Bold.woff);
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: AdobeClean-BoldIt;
src: url(../fonts/AdobeClean-BoldIt.otf) format("opentype");
src: url(../fonts/AdobeClean-BoldIt.woff);
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: AdobeClean-BoldSemiCnIt;
src: url(../fonts/AdobeClean-BoldSemiCnIt.otf) format("opentype");
src: url(../fonts/AdobeClean-BoldSemiCnIt.woff);
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: AdobeClean-BoldSemiCn;
src: url(../fonts/AdobeClean-BoldSemiCn.otf) format("opentype");
src: url(../fonts/AdobeClean-BoldSemiCn.woff);
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: AdobeClean-It;
src: url(../fonts/AdobeClean-It.otf) format("opentype");
src: url(../fonts/AdobeClean-It.woff);
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: AdobeClean-Light;
src: url(../fonts/AdobeClean-Light.otf) format("opentype");
src: url(../fonts/AdobeClean-Light.woff);
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: AdobeClean-LightIt;
src: url(../fonts/AdobeClean-LightIt.otf) format("opentype");
src: url(../fonts/AdobeClean-LightIt.woff);
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: AdobeClean-Regular;
src: url(../fonts/AdobeClean-Regular.otf) format("opentype");
src: url(../fonts/AdobeClean-Regular.woff);
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: AdobeClean-SemiCn;
src: url(../fonts/AdobeClean-SemiCn.otf) format("opentype");
src: url(../fonts/AdobeClean-SemiCn.woff);
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: AdobeClean-SemiCnIt;
src: url(../fonts/AdobeClean-SemiCnIt.otf) format("opentype");
src: url(../fonts/AdobeClean-SemiCnIt.woff);
font-weight: normal;
font-style: normal;
}