.acs-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding: 16px 20px;
}

.acs-header-column-1 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.acs-header-logo {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  height: 25px;
  width: auto;
  margin: auto;
}

.acs-column-container-header-feature {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  margin: auto;
  padding: 0 20px 0 0;
}

.acs-column-container-header-feature:last-child {
  padding: 0 0 0 0;
}

.acs-header-column-2 {
  align-items: right;
  display: none;
  justify-content: right;
  flex-direction: row;
}

.acs-header-column-2-inner {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.acs-header-search {
  padding: 0 40px 0 0;
  border: 1px solid #777;
  border-radius: 5px 0 0 5px;
  padding: 5px 10px;
  width: 170px;
  height: 32px;
  background-color: transparent;
}

.acs-header-search-go {
  padding: 0 10px;
  border-top: 1px solid #777;
  border-left: none;
  border-bottom: 1px solid #777;
  border-right: 1px solid #777;
  border-radius: 0 5px 5px 0;
  background-color: inherit;
  height: 32px;
}

.acs-column-container-header-feature input[type=button]:hover {
  background: transparent;
  color: #fff;
}

.acs-header-search::placeholder {
  color: #bbb;
}

.acs-column-container-header-feature form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.acs-header-column-2 p {
  font-size: 14px;
}

.column-tools-header-each {
  margin-right: 22px;
  text-align: right;
}

#view-feedback {
  display: block;
  position: relative;
}

#view-feedback::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  right: -22px;
  top: 50%;
  margin-top: -8px;
  padding-top: 0;
  background-image: url('../images/icons/feedback-icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  opacity: .4;
}

#view-feedback:hover:after {
  opacity: 1;
}

@media screen and (min-width: 701px) {
 
  .acs-header-column-1 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    align-items: left;
    justify-content: left;
    margin-bottom: 0;
  }

  .acs-header-column-2 {
    align-items: right;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1025px) {
 
  .acs-column-container-header-feature {
    padding: 0 30px 0 0;
  }

  .acs-header {
    padding: 16px 40px;
  }
}