.acs-column-container-breadcrumbs {
  padding: 0 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.acs-column-container-breadcrumbs-tools {
    display: none;
    justify-content: right;
    flex-direction: row-reverse;
}

.acs-column-tools-breadcrumbs-each{
    padding: 10px 15px 10px 20px;
    width: auto;
}

.acs-column-container-breadcrumbs-each {
  padding: 10px 40px 10px 0;
  display: inline-block;
  position: relative;
}

.acs-column-container-breadcrumbs-each::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 10px;
  padding-top: 0;
  background-image: url('../images/dropdown-arrow.svg');
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center center;
  -ms-transform: rotate(-90deg);
 /* IE 9 */
  -webkit-transform: rotate(-90deg);
 /* Safari 3-8 */
  transform: rotate(-90deg);
  opacity: .4;
}

.acs-column-container-breadcrumbs-each:last-child:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10px;
  padding-top: 0;
  background-image: url();
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center center;
  -ms-transform: rotate(-90deg);
 /* IE 9 */
  -webkit-transform: rotate(-90deg);
 /* Safari 3-8 */
  transform: rotate(-90deg);
  opacity: .4;
}

.acs-column-container-breadcrumbs-feature {
  padding: 10px 26px 10px 40px;
  display: inline-block;
  position: relative;
}

@media screen and (min-width: 701px) {
  .acs-column-container-breadcrumbs-tools  {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  }
}

@media screen and (min-width: 1025px) {
  .acs-column-container-breadcrumbs {
    padding: 0 100px;
  }
}