#view-fullscreen, #cancel-fullscreen {
  position: relative;
}

#view-fullscreen:hover {
  text-decoration: underline;
}

#cancel-fullscreen:hover {
  text-decoration: underline;
}

#view-fullscreen::after {
  background-image: url('../images/icons/fullscreen-icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  opacity: .4;
}

#view-fullscreen:hover:after {
  opacity: 1;
}

#cancel-fullscreen::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  right: -22px;
  top: 50%;
  margin-top:-8px;
  padding-top: 0;
  background-image: url('../images/icons/fullscreen-icon-exit.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  -ms-transform: rotate(-90deg);
 /* IE 9 */
  -webkit-transform: rotate(-90deg);
 /* Safari 3-8 */
  transform: rotate(-90deg);
  opacity: .4;
}

#cancel-fullscreen:hover:after {
  opacity: 1;
}

@media screen and (min-width: 701px) { 
  #view-fullscreen,#cancel-fullscreen  {
    display: block;
  }
}