.column-container-menu {
  position: sticky;
  top: 0;
  height: 100vh;
  padding-top: 15px;
  padding-right: 40px;
  padding-bottom: 340px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f7f7f8;
}

.inspect_preset{
  padding: 8px 13px; 
  width: 100%; 
  height: 230px;
}

.asset-specs-each p:nth-child(2) {
  padding-left: 4px;
}

.each-container {
  position: relative;
}

.guide-each {
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

.guide-container-single-1 {
  width: 88px;
  height: 100%;
  outline: 2px solid red;
  outline-offset: 0;
  -webkit-transition: all .35s ease-in;
  -moz-transition: all .35s ease-in;
  -o-transition: all .35s ease-in;
  transition: all .35s ease-in;

}

.guide-container-single-1::after {
  content: "88px x Variable";
  position: absolute;
  max-width: 120px;
  left: -150px;
  top: 20px;
  background-color: #fff;
  padding: 7px;
  box-shadow: 1px 1px 2px 1px #999;
}

.guide-container-single-2 {
  width: 100%;
  height: 205px;
  outline: 2px solid red;
  outline-offset: 0;
  top: 15px;
}

.guide-container-single-2::after {
  content: "Variable x 205px";
  position: absolute;
  max-width: 120px;
  left: -150px;
  top: 20px;
  background-color: #fff;
  padding: 7px;
  box-shadow: 1px 1px 2px 1px #999;
}

.guide-container-single-3 {
  width: 142px;
  height: 100%;
  outline: 2px solid red;
  outline-offset: 0;
}

.guide-container-single-3::after {
  content: "142px x Variable";
  position: absolute;
  max-width: 120px;
  left: -150px;
  top: 20px;
  background-color: #fff;
  padding: 7px;
  box-shadow: 1px 1px 2px 1px #999;
}

.guide-container-single-4 {
  width: 170px;
  height: 80px;
  outline: 2px solid red;
  outline-offset: 0;
  top: 10px;
}

.guide-container-single-4::after {
  content: "170x180 with 10px Top Padding";
  position: absolute;
  max-width: 120px;
  left: -150px;
  top: -30px;
  background-color: #fff;
  padding: 7px;
  box-shadow: 1px 1px 2px 1px #999;
}

.guide-container-single-5 {
  width: 220px;
  height: 210px;
  outline: 2px solid red;
  outline-offset: 0;
  top: 40px;
}

.guide-container-single-5::after {
  content: "220x210 with 40px Top Padding";
  position: absolute;
  max-width: 120px;
  left: -150px;
  top: -30px;
  background-color: #fff;
  padding: 7px;
  box-shadow: 1px 1px 2px 1px #999;
}

.guide-container-double-1 {
  width: 130px;
  height: 100%;
  outline: 2px solid red;
  outline-offset: 0;
}

.guide-container-double-1::after {
  content: "130px x Variable";
  position: absolute;
  max-width: 120px;
  left: -150px;
  top: 20px;
  background-color: #fff;
  padding: 7px;
  box-shadow: 1px 1px 2px 1px #999;
}

.guide-container-double-2 {
  width: 100%;
  height: 205px;
  outline: 2px solid red;
  outline-offset: 0;
}

.guide-container-double-2::after {
  content: "Variable x 205px";
  position: absolute;
  max-width: 120px;
  left: -150px;
  top: 20px;
  background-color: #fff;
  padding: 7px;
  box-shadow: 1px 1px 2px 1px #999;
}

.guide-container-double-3 {
  width: 240px;
  height: 100%;
  outline: 2px solid red;
  outline-offset: 0;
}

.guide-container-double-3::after {
  content: "240px x Variable";
  position: absolute;
  max-width: 120px;
  left: -150px;
  top: 20px;
  background-color: #fff;
  padding: 7px;
  box-shadow: 1px 1px 2px 1px #999;
}

.guide-container-double-4 {
  width: 190px;
  height: 80px;
  outline: 2px solid red;
  outline-offset: 0;
  top: 10px;
}

.guide-container-double-4::after {
  content: "190x180 with 10px Top Padding";
  position: absolute;
  max-width: 120px;
  left: -150px;
  top: -30px;
  background-color: #fff;
  padding: 7px;
  box-shadow: 1px 1px 2px 1px #999;
}

.guide-container-double-5 {
  width: 400px;
  height: 210px;
  outline: 2px solid red;
  outline-offset: 0;
  top: 40px;
}

.guide-container-double-5::after {
  content: "400x210 with 40px Top Padding";
  position: absolute;
  max-width: 120px;
  left: -150px;
  top: -30px;
  background-color: #fff;
  padding: 7px;
  box-shadow: 1px 1px 2px 1px #999;
}

.guide-container-accessories-1 {
  width: 130px;
  height: 180px;
  outline: 2px solid red;
  outline-offset: 0;
}

.guide-container-accessories-1::after {
  content: "130x180";
  position: absolute;
  max-width: 120px;
  left: -90px;
  top: 20px;
  background-color: #fff;
  padding: 7px;
  box-shadow: 1px 1px 2px 1px #999;
}


.guide-container-accessories-2 {
  width: 230px;
  height: 145px;
  top: 15px;
  outline: 2px solid red;
  outline-offset: 0;
}

.guide-container-accessories-2::after {
  content: "230x145";
  position: absolute;
  max-width: 120px;
  left: -90px;
  top: 20px;
  background-color: #fff;
  padding: 7px;
  box-shadow: 1px 1px 2px 1px #999;
}

.guide-container-accessories-3 {
  width: 240px;
  height: 300px;
  outline: 2px solid red;
  outline-offset: 0;
}

.guide-container-accessories-3::after {
  content: "240x300";
  position: absolute;
  max-width: 120px;
  left: -90px;
  top: 20px;
  background-color: #fff;
  padding: 7px;
  box-shadow: 1px 1px 2px 1px #999;
}

.guide-container-accessories-4 {
  width: 120px;
  height: 38px;
  top: 10px;
  outline: 2px solid red;
  outline-offset: 0;
}

.guide-container-accessories-4::after {
  content: "120x38";
  position: absolute;
  max-width: 120px;
  left: -90px;
  top: 0;
  background-color: #fff;
  padding: 7px;
  box-shadow: 1px 1px 2px 1px #999;
}

.guide-container-accessories-5 {
  width: 200px;
  height: 156px;
  top: 20px;
  outline: 2px solid red;
  outline-offset: 0;
}

.guide-container-accessories-5::after {
  content: "200x156";
  position: absolute;
  max-width: 120px;
  left: -90px;
  top: 20px;
  background-color: #fff;
  padding: 7px;
  box-shadow: 1px 1px 2px 1px #999;
}

.guide-container-other-1 {
  width: 130px;
  height: 100%;
  outline: 2px solid red;
  outline-offset: 0;
}

.guide-container-other-2 {
  width: 100%;
  height: 205px;
  outline: 2px solid red;
  outline-offset: 0;
}

.guide-container-other-3 {
  width: 260px;
  height: 100%;
  outline: 2px solid red;
  outline-offset: 0;
}

.guide-container-other-4 {
  width: 170px;
  height: 80px;
  outline: 2px solid red;
  outline-offset: 0;
  top: 10px;
}

.guide-container-other-5 {
  width: 220px;
  height: 210px;
  outline: 2px solid red;
  outline-offset: 0;
  top: 20px;
}

.inspect_url {
  min-height: auto;
}

.asset-specs-each p {
  margin-bottom: 10px;
}

.outer-container {
  width: 100%;
  overflow-x: auto;
}

.inner-container {
  display: block;
  margin: 0;
  padding: 0;
}

.each-container-row {
  position: relative;
  padding: 40px;
  min-height: 300px;
}

.each-container-row:nth-child(even) {
  background: #e0e0e0;
}

.each-container-row:nth-child(odd) {
  background: #f0f0f0;
}

.asset-specs {
  position: sticky;
  top: 0;
  padding: 5px 40px 0 40px;
  margin-bottom: 40px;
  background-color: inherit;
  border-bottom: 2px solid #8f8f8f;
  z-index: 1;
}

.asset-specs-each {
  display: inline-flex;
  margin-right: 40px;
}

.each-container {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  vertical-align: top;
}

.red-guides {
  outline: 2px solid red;
  outline-offset: -15px;
}

.blue-guides {
  outline: 2px solid #5d5dff;
  outline-offset: -10px;
}

.yellow-guides {
  outline: 2px solid #dcc948;
  outline-offset: -20px;
}

.green-guides {
  outline: 2px solid #57b259;
  outline-offset: -40px;
}

.background-alt1 {
  background-color: #a6c7e3;
}

.background-alt2 {
  background-image: url(../images/transparency.svg);
  border-image-repeat: repeat;
  background-size: 150px auto;
  background-color: #ffffff;
}

.each-container img {
  position: relative;
  object-fit: contain;
  overflow: hidden;
  cursor: pointer;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.testurl_preview1_alt {
  max-width: 130px !important;
  max-height: 180px !important;
}

.testurl_preview2_alt {
  max-width: 230px !important;
  max-height: 145px !important;
  top: -38px;
}

.testurl_preview3_alt {
  max-width: 240px !important;
  max-height: 300px !important;
}

.testurl_preview4_alt {
  max-width: 120px !important;
  max-height: 38px !important;
  top: -16px;
}

.testurl_preview5_alt {
  max-width: 200px !important;
  max-height: 156px !important;
  top: -28px;
}

.spacing-top-15 {
  padding-top: 15px;
}

.spacing-bottom-15 {
  padding-bottom: 15px;
}

.spacing-left-15 {
  padding-left: 15px;
}

.spacing-right-15 {
  padding-right: 15px;
}

.spacing-top-20 {
  padding-top: 20px;
}

.spacing-bottom-20 {
  padding-bottom: 20px;
}

.spacing-left-20 {
  padding-left: 20px;
}

.spacing-right-20 {
  padding-right: 20px;
}

.spacing-10 {
  padding: 10px;
}

.preset-name {
}

.each-160x600 {
  width: 160px;
  height: 600px;
}

.each-160x600 img {
  width: 160px;
  height: 600px;
}

.each-300x250 {
  width: 300px;
  height: 250px;
}

.each-300x250 img {
  width: 300px;
  height: 250px;
}

.each-300x600 {
  width: 300px;
  height: 600px;
}

.each-300x600 img {
  width: 300px;
  height: 600px;
}

.each-728x90 {
  width: 728px;
  height: 90px;
}

.each-728x90 img {
  width: 728px;
  height: 90px;
}

.each-970x250 {
  width: 970px;
  height: 250px;
}

.each-970x250 img {
  width: 970px;
  height: 250px;
}

.checkbox-each {
  background-size: 50px;
  background-repeat: no-repeat;
  padding: 15px 0 15px 50px;
  cursor: pointer;
}

#guides-single-unchecked {
  background-image: url("../images/check1.svg");
}

#guides-single-checked {
  background-image: url("../images/check2.svg");
}

#guides-double-unchecked {
  background-image: url("../images/check1.svg");
}

#guides-double-checked {
  background-image: url("../images/check2.svg");
}

#guides-accessories-unchecked {
  background-image: url("../images/check1.svg");
}

#guides-accessories-checked {
  background-image: url("../images/check2.svg");
}

#guides-other-unchecked {
  background-image: url("../images/check1.svg");
}

#guides-other-checked {
  background-image: url("../images/check2.svg");
}

#inner-guides-unchecked {
  background-image: url("../images/check1.svg");
}

#inner-guides-checked {
  background-image: url("../images/check2.svg");
}

#HTML-guides-unchecked {
  background-image: url("../images/check1.svg");
}

#HTML-guides-checked {
  background-image: url("../images/check2.svg");
}

#alpha-guides-unchecked {
  background-image: url("../images/check1.svg");
}

#alpha-guides-checked {
  background-image: url("../images/check2.svg");
}


.store-checkbox-container {
  width: 160px;
  display: inline-flex;
  padding-right: 20px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
