.notes-container {
  width: 100%;
  height: auto;
}

.notes-names-container {
  width: 100%;
  margin-bottom: 20px;
}

.notes-container-column input[type=text] {
  margin-bottom: 10px;
}

.notes-btn-each-active {
  position: absolute;
}

.notes-btn-each-active::after {
  position: absolute;
  content: "Saving Data...";
  width: 100px;
  background-color: #fff;
  padding: 10px;
  border: 2px solid #e2e2e2;
}

.notes-btn-each-empty {
  position: absolute;
}

.notes-btn-each-empty::after {
  position: inherit;
  content: "";
  width: 100px;
}

.notes-btn-each-container {
  width: 100%;
  position: relative;
}

.notes-btn-each {
  width: 100px;
  bottom: 70px;
  right: 110px;
  position: absolute;
  text-align: center;
  font-size: 14px;
}

.notes-btn-each:hover {
  opacity: 1;
}

.store-data-container {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
 /* Safari */
  -webkit-flex-wrap: wrap;
 /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.store-disclaimer {
  margin: 13px auto 0 auto;
  padding: 16px 40px 0 40px;
  border-top: solid 2px #ccc;
}

.column-container-row {
  display: -webkit-flex;
 /* Safari */
  -webkit-flex-wrap: wrap;
 /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
}

.column-container-header h2 {
  margin-bottom: 40px;
}

.notes-container-column-each {
  padding-left: 0;
  padding-top: 80px;
  position: relative;
  margin-bottom: 40px;
}

.notes-container-column-icon {
  top: 0;
  left: 50%;
  position: absolute;
  width: 70px;
  height: 70px;
  margin-left: -35px;
}

.notes-container-column-each:before {
  content: "";
  border-top: 2px solid #d3d3d3;
  width: calc(50% - 45px);
  position: absolute;
  top: 35px;
  right: 0;
}

.notes-container-column-each:after {
  content: "";
  border-top: 2px solid #d3d3d3;
  width: calc(50% - 45px);
  position: absolute;
  top: 35px;
  left: 0;
}

.column-container-row .notes-container-column-inner:first-child {
  padding-right: 0;
}

.column-container-row .notes-container-column-inner:last-child {
  padding-left: 0;
}

.store-data-container-inner {
  margin-bottom: 20px;
}

.store-data-container h3 {
  margin-bottom: 10px;
}

.store-data-container textarea {
  height: 300px;
}

.store-data {
  font-family: "OpenSans-Light";
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  width: 100%;
  resize: none;
  border-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: inset 0px 1px 2px 0px rgba(4,4,4,0.4);
  -moz-box-shadow: inset 0px 1px 2px 0px rgba(4,4,4,0.4);
  box-shadow: inset 0px 1px 2px 0px rgba(4,4,4,0.4);
  border: solid 1px #ccc;
}

.store-send {
  background-color: #fff;
  padding: 0;
}

.nominee input {
  width: 50px;
  font-size: 28px;
}

@media screen and (min-width: 701px) {
  .store-data-container textarea {
    height:calc(100% - 85px);
  }

  .store-data-container-inner {
    margin-bottom: 0;
  }

  .store-disclaimer {
    padding: 16px 0 0 0;
  }
    
  .notes-container-column-each {
    padding-left: 70px;
    padding-top: 0;
    margin-bottom: 0;
  }

  .notes-container-column-icon {
    left: 0;
    width: 50px;
    height: 50px;
    margin-left: 0;
  }

  .notes-container-column-each:before {
    border-top: none;
  }

  .notes-container-column-each:after {
    border-top: none;
  }

  .column-container-row .notes-container-column-inner:first-child {
    padding-right: 10px;
    margin-bottom: 0;
  }

  .column-container-row .notes-container-column-inner:last-child {
    padding-left: 10px;
  }
}

@media screen and (min-width: 1025px) {
  .notes-container-column-each {
    padding-left: 100px;
  }

  .notes-container-column-icon {
    width: 80px;
    height: 80px;
  }

  .column-container-row .notes-container-column-inner:first-child {
    padding-right: 20px;
  }

  .column-container-row .notes-container-column-inner:last-child {
    padding-left: 20px;
  }
}