


/* Structure */
.fullscreen_container {
	overflow: hidden;
	max-width: 100%;
	margin-top: 0px;
	margin-bottom: auto;	
	margin-left: auto;
	margin-right: auto;	
    padding-top:0px;
	display:initial;
}

.fullscreenbutton{
	position: absolute;
	top:10px;
    height:50px;	
	right:10px;
	z-index:2;
	display:initial;	
}

.fullscreen_button{
	position: absolute;
	top:10px;
	right:10px;
    width:50px;
    height:50px;
    padding: auto;
    display: block;
	border: 0px solid #bd0022;
    text-decoration:none;
    font-weight: 600;
    color:#fff;
    line-height:0;
    outline:none;
    font-size: 27px;
    height: 50px;
	cursor: pointer;   
	opacity:1;	 
	background-image: url(../images/fullscreen_icon2.svg);
	background-repeat:no-repeat;
	background-size: 50px 50px;
	background-color:rgba(50,50,50,.8);
	display:initial;	 
	z-index:1;
	border-radius: 8px;	
}

#view-fullscreen{
    position: absolute;
	top:0;
	right:0;
    width:50px;
    height:50px;
    padding: auto;
    display: block;
	border: 0px solid #bd0022;
    text-decoration:none;
    font-weight: 600;
    color:#fff;
    line-height:0;
    outline:none;
    font-size: 27px;
    height: 50px;
	cursor: pointer;   
	opacity:1;	 
	background-image: url(../images/fullscreen_icon2.svg);
	background-repeat:no-repeat;
	background-size: 50px 50px;
	background-color:rgba(50,50,50,.8);
	display:initial;	 
	z-index:1;
	border-radius: 8px;
}	
#view-fullscreen hover{
    background: #000; 
}

#cancel-fullscreen{
    position: absolute;
	top:0;
	right:0;
    width:50px;
    height:50px;
    padding: auto;
    display: block;
	border: 0px solid #bd0022;
    text-decoration:none;
    line-height:0;
    outline:none;
    font-size: 17px;
	cursor: pointer; 
	opacity:1;  
	background-image: url(../images/fullscreen_icon.svg);background-repeat:no-repeat; 
	background-size: 50px 50px;
	background-color:rgba(50,50,50,.8);
	display:initial;	
	z-index:1; 
	border-radius: 8px;
	}	
	
#cancel-fullscreen hover{ 
}	

@media screen and (max-width: 320px) {
    #container {
        width: 280px;
        padding: 10px;
    }
}


/* Fullscreen */
html:-moz-full-screen {

}

html:-webkit-full-screen {

}

html:-ms-fullscreen {
    width: 100%;
}

html:fullscreen {
    background: #000;
}
#view-fullscreen -moz-full-screen{
	visibility:hidden;
}	
#view-fullscreen -webkit-full-screen{
	visibility:hidden;
}	
#view-fullscreen -ms-fullscreen{
	visibility:hidden;
}	
#view-fullscreen fullscreen {
	visibility:hidden;
}
