.help{
    right:10px;
	top:250px;
    position: absolute;
	background-repeat:no-repeat;
	background-size: 50px 50px;
	z-index:2;
	cursor:pointer;
	
}    
.help_button { 
    right:0;
	top:0;
    position: absolute;height:50px;width:50px;	background-color:#000;background-image: url(../images/help_icon_tr.svg);background-repeat:no-repeat;
	background-size: 50px 50px;background-color:rgba(50,50,50,.8);
width:50px;
height:50px;
border-radius: 8px;
}

.help_container { 
background-color:rgba(15,15,15,.9);
width:100%;
height:100%;
position: absolute;
z-index:5;
}


.helptools { 
right:0;
	top:0;
    position: absolute;
background-image: url(../images/helptools.svg);background-repeat:no-repeat;
background-size: 310px 310px;
width:310px;
height:310px;
z-index:4;
}

.helpcontrols { 
left:50%;
	bottom:0;
	margin-left:-300px;
    position: absolute;
background-image: url(../images/viewercontrols.svg);background-repeat:no-repeat;
background-size: 600px 200px;
width:600px;
height:200px;
z-index:4;
}

.helpmenu { 
left:20px;
	top:10px;
    position: absolute;
background-image: url(../images/helpmenu.svg);background-repeat:no-repeat;
background-size: 300px 100px;
width:300px;
height:100px;
z-index:4;
}

.helpclose { 
right:40px;
	top:50%;
    position: absolute;
background-image: url(../images/helpclose.svg);background-repeat:no-repeat;
background-size: 80px 50px;
width:80px;
height:50px;
z-index:4;
cursor:pointer;
}

.helpmain { 
position: absolute;
background-image: url(../images/helpmain2.svg);background-repeat:no-repeat;
 
background-position:center 15%;
width:100%;
height:100%;
z-index:4;
}